@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}
.babaimg {
	box-shadow: none;
	background: none;
	display: block;
	border: none;
}
:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #b1641b;
	--textColor: #eee;
	-ms-overflow-style: none;
    scrollbar-width: none;
}
img{
	padding: 10px;
    margin: 21px 0px;
	position: relative;
	border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
	color: white;
	box-shadow: 20px 20px  rgb(112 74 60 / 88%);
	transition: all .2s ease;  
	border: 2px solid yellow;
  }
  img:hover{
	border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(99, 65, 53, 0.932);
  }
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: #db2b39;
	color: var(--textColor);
	position: fixed;
    width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #db2b39;
		transition: 1s;
		transform: translateY(-100vh);
       
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
